/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5372F0;
}

.container {
    width: 100%;
    max-width: 1000px;
    border-radius: 7px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    position: relative; /* Added position relative */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 25px;
    border-bottom: 1px solid #ccc;
}

.title {
    font-size: 25px;
    font-weight: 500;
}

.logout-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff6347;
    background-image: linear-gradient(to right, #ff6347, #ff4500);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    position: absolute; /* Positioned absolute */
    top: 16px; /* Aligned with padding */
    right: 25px; /* Aligned with padding */
}

.logout-button:hover {
    background-image: linear-gradient(to right, #ff4500, #ff6347);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.logout-button:active {
    transform: scale(0.98);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 15px 25px 15px;
}

thead {
    background-color: #f2f2f2;
}

th, td {
    padding: 20px 15px; /* Increased vertical padding */
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: 500;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

@media screen and (max-width: 470px) {
    .title {
        font-size: 22px;
    }

    .header {
        padding: 13px 20px;
    }

    .logout-button {
        font-size: 14px;
        padding: 8px 16px;
        top: 13px; /* Aligned with padding */
        right: 20px; /* Aligned with padding */
    }

    th, td {
        padding: 15px 10px; /* Adjusted padding for smaller screens */
    }
}
